* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

header,
.footer {
    background-color: #1f2937;
}

a {
    text-decoration: none;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

#header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 20px 50px;
}

.right-links {
    display: flex;
    gap: 30px;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

button {
    background-color: #3882f6;
    border: 1px solid #3882f6;
    font-weight: 700;
    border-radius: 8px;
    padding: 3px 20px;
    cursor: pointer;
}

#main-image {
    width: 400px;
}

.subtext {
    max-width: 200px;
}

.header-text {
    max-width: 400px;
    padding-bottom: 10px;
}

.section-1 {
    display: flex;
    justify-content:space-between;
    gap: 50px;
    padding: 50px;
    align-items: center;
}

.section-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items:center;
    padding: 30px;
    gap: 20px;
}

.section-2a {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 3px solid #3882f6;
}

.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-weight:300;
    font-style:italic;
    font-size: 36px;
    color: #1f2937;
    background-color:#e5e7eb;
    padding: 60px;
}

.quote-author {
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    font-style:normal;
}


.section-4 {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    margin: 60px;
    border-radius: 8px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}

.section-4a {
    max-width: 70%;
}

.call-to-action {
    font-weight: 900;
}

.action-button {
    min-width: fit-content;
    max-height: 40px;
    border: 2px solid #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
  }